<div class="col-8" >
  <div class="comments-block-header">
    <h4>Comments</h4>
  </div>

  <div *ngFor="let message of messages">
    {{ message['comment'] }}
  </div>

  <ul class="comment-section"  >
    <li class="comment user-comment" *ngFor="let message of messages">
      <div class="info">
          <a href="#">Comentator name</a>
          <span>{{ message['date'] | date: 'short' }}</span>
          <button type="button" (click)="like(message['like'])">Like {{ message['like'] }} </button>
      </div>
      <a class="avatar" href="#" >
        <img src="../assets/girl.svg" width="35" alt="Profile Avatar" title="Anie Silverston" />
      </a>
      <p>{{ message['comment'] }}</p>


    </li>

    <li class="comment user-comment" *ngFor="let message of newMessage">
        <div class="info">
            <a href="#">Comentator name</a>
            <span>4 hours ago</span>
            <button type="button" (click)="like()">Like</button>
        </div>
        <a class="avatar" href="#" >
          <img src="../assets/girl.svg" width="35" alt="Profile Avatar" title="Anie Silverston" />
        </a>
        <p>{{ message }}</p>


      </li>


    <li class="write-new">
      <form [formGroup]="commentForm">

        <textarea placeholder="Write your comment here" formControlName="comment"
        name="comment"></textarea>

        <div>
            <p
            *ngIf="(commentForm.controls['comment'].errors?.minlength &&
            commentForm.controls['comment'].dirty) ||
            (commentForm.controls['comment'].errors?.maxlength &&
            commentForm.controls['comment'].dirty)">
            Comment must be at least 1 character but no more than 200.
            </p>
            <p
            *ngIf="commentForm.controls['comment'].errors?.required &&
            commentForm.controls['comment'].dirty" class="valid-form">
            This field is required
            </p>
          </div>

        <div>
          <button type="button" (click)="postComment()" class="btn btn-dark"
            [disabled]="!commentForm.valid">Submit</button>
        </div>
      </form>
    </li>
  </ul>
</div>
